/* Base Styles */
:root {
  --primary-color: #0a2540;
  --secondary-color: #0f3a5f;
  --accent-color: white;
  --accent-glow: rgba(0, 229, 255, 0.4);
  --text-light: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --border-radius: 12px;
  --transition-speed: 0.3s;
  --shadow-light: 0 4px 12px rgba(0, 229, 255, 0.15);
  --shadow-medium: 0 8px 24px rgba(0, 229, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-light);
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

button {
  background: transparent;
  border: none;
}

.intro {
  position: absolute;
  bottom: 20%;
  left: 16%;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
  color: #00aeef;
  font-weight: 500;
}

/* Header Styles */
header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.btns img {
  width: 70px;
}

.homebtn {
  position: absolute;
  left: 190px;
  top: 130px;
  background: transparent;
  border: none;
}

.portbtn {
  position: absolute;
  left: 820px;
  top: 130px;
  background: transparent;
  border: none;
}

.homebtn-v {
  position: absolute;
  left: 130px;
  top: 50px;
  background: transparent;
  border: none;
}

.portbtn-v {
  position: absolute;
  left: 800px;
  top: 50px;
  background: transparent;
  border: none;
}

.homebtn:hover,
.portbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

/* Main Content */
main {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease;
}

.body-image {
  max-height: 90%;
  max-width: 100%;
  object-fit: contain;
}

/* Interactive Points */
.interactive-point {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.point-label {
  position: absolute;
  cursor: pointer;
  padding: 0.8rem;
  z-index: 20;
}

.point-label,
.custom-arrow,
.point-label:active,
.custom-arrow:active,
.point-label:focus,
.custom-arrow:focus {
  -webkit-tap-highlight-color: transparent; /* للموبايل */
}

/* .point-label:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-medium), 0 0 12px var(--accent-glow);
} */

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo {
    font-size: 24px;
  }

  .point-label {
    font-size: 12px;
    padding: 6px 12px;
  }

  .interactive-point {
    width: 10px;
    height: 10px;
  }
}
